<div class="flex h-full w-full items-center justify-center">
  <div class="relative w-full">
    <img
      [src]="mediaItems[currentIndex].backdropUrl"
      class="h-full w-full object-cover"
      alt="Movie/TV Show Poster"
    />
    <div
      class="absolute inset-0 bg-gradient-to-t from-transparent to-black opacity-50"
    ></div>
    <div class="absolute inset-0 flex items-center justify-center">
      <div class="text-white">
        <h1 class="text-6xl font-bold">
          {{ mediaItems[currentIndex].title }}
        </h1>
        <p class="mt-2">
          {{ mediaItems[currentIndex].releaseDate | date : "dd MMM yyyy" }}
        </p>
        <p class="mt-2">
          {{ mediaItems[currentIndex].mediaType }}
        </p>
        <p class="mt-2">
          {{ mediaItems[currentIndex].overview }}
        </p>
      </div>
    </div>
  </div>
</div>
