<app-player-header> </app-player-header>
<div class="flex flex-col lg:flex-row gap-4 p-4 md:p-6">
  <div class="w-full lg:w-3/4 lg:aspect-video rounded-xl">
    <div class="w-full h-full">
      <!-- <ng-container *ngIf="showIframe">
        <iframe
          #iframeElement
          [src]="iframeUrl"
          class="w-full aspect-video rounded-2xl"
          frameborder="0"
          allowfullscreen
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        ></iframe>
      </ng-container> -->

      <app-iframe
        [iframeUrl]="iframeUrl"
        [showIframe]="showIframe"
      ></app-iframe>

      <app-controls
        [currentSourceUrl]="currentSourceUrl"
        [sources]="sources"
        [currentEpisode]="currentEpisode"
        [mediaType]="mediaType ?? 'tv'"
        (sourceChange)="onSourceChange($event)"
        (prevEpisodeClick)="prevEpisode(currentEpisode)"
        (nextEpisodeClick)="nextEpisode(currentEpisode)"
        (prevSourceClick)="prevSource()"
        (nextSourceClick)="nextSource()"
      ></app-controls>
    </div>
  </div>

  <div
    class="w-full lg:w-1/4 flex flex-col bg-gray-50 rounded-xl border border-gray-200 lg:aspect-video"
    *ngIf="mediaType !== 'movie'"
    >
    <app-playlist
      [names]="names || ''"
      [totalSeasons]="totalSeasons"
      [currentSeason]="currentSeason"
      [currentEpisodes]="currentEpisodes"
      [currentPosters]="currentPosters"
      [layoutType]="layoutType"
      [isSortedAscending]="isSortedAscending"
      [activeEpisodeIndex]="activeEpisodeIndex"
      (seasonChange)="onSeasonChange($event)"
      (episodeSelected)="playEpisode($event)"
      (layoutChange)="changeLayout()"
      (sortToggle)="ascOrDescSort()"
      class="flex-1 overflow-hidden"
    ></app-playlist>
  </div>
</div>
