<div class="flex flex-col md:flex-row gap-4 p-4 md:p-6 rounded-lg">
  <!-- iframe container adjusted for mobile and larger screens -->
  <div class="w-full md:w-3/4 flex flex-col rounded-lg overflow-hidden">
    <app-iframe
      [iframeUrl]="iframeUrl"
      [showIframe]="showIframe"
      class="flex-1"
    ></app-iframe>
    <app-controls
      [mediaType]="mediaType ?? ''"
      [currentSourceUrl]="currentSourceUrl"
      [sources]="sources"
      [currentEpisode]="currentEpisode"
      (sourceChange)="onSourceChange($event)"
      (prevEpisodeClick)="prevEpisode(currentEpisode)"
      (nextEpisodeClick)="nextEpisode(currentEpisode)"
      (prevSourceClick)="prevSource()"
      (nextSourceClick)="nextSource()"
      class="w-full mt-2"
    ></app-controls>
  </div>

  <!-- Playlist adjusted for mobile and larger screens -->
  <div class="w-full md:w-1/4 rounded-lg overflow-hidden">
    <app-playlist
      [names]="names || ''"
      [totalSeasons]="totalSeasons"
      [currentSeason]="currentSeason"
      [currentEpisodes]="currentEpisodes"
      [currentPosters]="currentPosters"
      [layoutType]="layoutType"
      [isSortedAscending]="isSortedAscending"
      [activeEpisodeIndex]="activeEpisodeIndex"
      (seasonChange)="onSeasonChange($event)"
      (episodeSelected)="playEpisode($event)"
      (layoutChange)="changeLayout()"
      (sortToggle)="ascOrDescSort()"
      class="h-full mt-2"
    ></app-playlist>
  </div>
</div>
