<div class="mt-4">
  <app-carousel></app-carousel>
</div>

<div class="mt-4">
  <lib-header
    [title]="'Popular Movies'"
    [icon]="'movie'"
    [desc]="'Trending just now'"
  ></lib-header>
  <app-content-tabs-netflix-like
    [apiEndpoint]="'/trending/' + 'movie' + '/week'"
    [tileLimit]="14"
  ></app-content-tabs-netflix-like>
</div>

<div class="mt-4">
  <lib-header
    [title]="'Popular TV Shows'"
    [icon]="'tvshow'"
    [desc]="'Trending just now'"
  ></lib-header>
  <app-content-tabs-netflix-like
    [apiEndpoint]="'/trending/' + 'tv' + '/week'"
    [tileLimit]="14"
  ></app-content-tabs-netflix-like>
</div>

<div class="mt-4">
  <lib-header
    [title]="'Movies'"
    [icon]="'movie'"
    [desc]="'Discover'"
  ></lib-header>
  <app-content-tabs-netflix-like
    [apiEndpoint]="'/discover/' + 'movie'"
    [sortBy]="'popularity.desc'"
    [tileLimit]="14"
    [genreId]="28"
  ></app-content-tabs-netflix-like>
</div>

<div class="mt-4">
  <lib-header
    [title]="'TV Shows'"
    [icon]="'tvshow'"
    [desc]="'Discover'"
  ></lib-header>
  <app-content-tabs-netflix-like
    [apiEndpoint]="'/discover/' + 'tv'"
    [sortBy]="'popularity.desc'"
    [tileLimit]="14"
    [genreId]="10765"
  ></app-content-tabs-netflix-like>
</div>

<div class="mt-4"></div>
