<div
  class="h-full min-h-screen font-[sans-serif] w-full text-gray-900 dark:text-gray-100 transition-colors duration-300"
>
  <app-background-grid></app-background-grid>
  <div class="container mx-auto px-4 sm:px-6 lg:px-8 xl:px-12">
    <app-nav-bar></app-nav-bar>
    <div class="flex items-start">
      <!-- <app-side-bar></app-side-bar> -->

      <section class="main-content flex-1 overflow-hidden">
        <!-- <app-header></app-header> -->
        <router-outlet />
      </section>
    </div>
  </div>
</div>
<!-- <div class="mt-20 lg:mt-0"></div> -->
