<div class="flex flex-col h-full p-4">
  <div class="flex justify-between pb-4 border-b border-gray-200">
    <h2 class="text-lg text-gray-900">{{ names }}</h2>
    <div class="flex gap-2">
      <button (click)="onLayoutChange()" title="Change layout">
        <app-icon-lib ico="menu"></app-icon-lib>
      </button>
      <button
        (click)="onSortToggle()"
        title="Sort order"
        [class.rotate-180]="!isSortedAscending"
      >
        <app-icon-lib ico="sort"></app-icon-lib>
      </button>
    </div>
  </div>

  <div class="py-4">
    <select
      id="seasonSelect"
      (change)="onSeasonChange($event)"
      [(ngModel)]="currentSeason"
    >
      <option *ngFor="let season of totalSeasons" [value]="season">
        Season {{ season }}
      </option>
    </select>
  </div>

  <div class="flex-1 overflow-y-auto">
    <div *ngIf="layoutType === 'grid'" class="grid grid-cols-6 gap-2">
      <button
        *ngFor="let episode of currentEpisodes; let i = index"
        (click)="onEpisodeSelected(i)"
      >
        {{ episode.number }}
      </button>
    </div>

    <div *ngIf="layoutType === 'list'">
      <div
        *ngFor="let episode of currentEpisodes; let i = index"
        (click)="onEpisodeSelected(i)"
      >
        EP{{ episode.number }}: {{ episode.name }}
      </div>
    </div>

    <div *ngIf="layoutType === 'poster'" class="grid grid-cols-2 gap-4">
      <div
        *ngFor="let episode of currentEpisodes; let i = index"
        (click)="onEpisodeSelected(i)"
      >
        <img
          [src]="currentPosters[i] || 'https://placehold.co/300x200'"
          [alt]="episode.name"
        />
        <div>{{ episode.number }}. {{ episode.name }}</div>
      </div>
    </div>
  </div>
</div>
